/** @format */
.popup[data-popup="brochure"] {
  --scaleY:1.06;
  --scaleX:1.03;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 78px 40px 118px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) {
  .popup[data-popup="brochure"] {
    padding: 0 16px;
  }
}

.popup[data-popup="brochure"] .popup__wrapper {
  height: 100%;
  max-height: 600px;
  max-width: 1360px;
  padding: 32px 32px 64px;
}

@media (max-width: 992px) {
  .popup[data-popup="brochure"] .popup__wrapper {
    max-width: 400px;
    padding: 30px 0 30px;
  }
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__wrapper {
    border-radius: 4px;
  }
}

.popup[data-popup="brochure"] .popup__content {
  padding: 0;
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__content {
    padding: 0;
  }
}

.popup[data-popup="brochure"] .popup__close-btn {
  bottom: calc(100% + 36px);
  top: auto;
  left: auto;
  right: -32px;
}

@media (max-width: 992px) {
  .popup[data-popup="brochure"] .popup__close-btn {
    top: -8px;
    right: -16px;
  }
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__wp {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .popup[data-popup="brochure"] .popup__wrapper {
    max-height: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-height: 100%;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .popup[data-popup="brochure"] .popup__wrapper {
    width: calc(100% - 32px);
  }
}

.popup[data-popup="brochure"] .popup__scrollmouse {
  opacity: 0 !important;
}

.popup[data-popup="brochure"] .popup__wp {
  overflow-y: unset;
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__wp {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: rgba(22, 22, 22, 0.96);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    padding: 24px 32px;
    overflow-y: auto;
  }
}

@media (max-width: 768px) and (max-height: 590px) {
  .popup[data-popup="brochure"] .popup__wp {
    height: 450px !important;
  }
}

.popup[data-popup="brochure"] .popup__content {
  position: relative;
}

.brochure {
  height: 100%;
}

.brochure__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  gap: 66px;
  padding: 0;
  height: 100%;
}

@media (max-height: 710px) {
  .brochure__container {
    gap: 33px;
  }
}

@media (max-width: 992px) {
  .brochure__container {
    padding: 24px 32px;
    gap: 0;
  }
}

@media (max-width: 768px) and (max-height: 710px) {
  .brochure__container {
    gap: 0 !important;
    padding: 0;
  }
}

.brochure__top {
  position: relative;
}

@media (max-width: 992px) {
  .brochure__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 32px;
  }
}

.brochure__img {
  max-height: 392px;
  height: 100%;
  position: relative;
}

.brochure__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

@media (max-width: 992px) {
  .brochure__img {
    height: 230px;
  }
}

@media (max-width: 768px) {
  .brochure__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 230px;
  }
  .brochure__img img {
    -o-object-position: 35%;
       object-position: 35%;
  }
}

@media (max-height: 720px) and (max-width: 768px) {
  .brochure__img {
    height: 156px;
  }
}

.brochure__cta input {
  color: var(--light-color);
}

.brochure__bot {
  display: none;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (max-width: 992px) {
  .brochure__bot {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

@media (max-height: 590px) {
  .brochure__bot {
    padding-bottom: 24px;
  }
}

.brochure__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.brochure__socials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.brochure__socials span {
  display: block;
  width: 16px;
  height: 16px;
}

.brochure__socials span:nth-of-type(1) {
  height: 14px;
}

.brochure__logo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
}

.brochure__logo img {
  width: 100%;
}

.brochure .brochure__text-p {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: absolute;
  right: 28px;
  bottom: 0;
  z-index: 2;
  color: #fff;
  font-family: Raleway;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1300px) {
  .brochure .brochure__text-p {
    font-size: 96px;
  }
}

@media (max-width: 992px) {
  .brochure .brochure__text-p {
    font-size: 36px;
    position: static;
    padding-top: 16px;
    padding-left: 32px;
    padding: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .brochure .brochure__text-p {
    font-size: 24px;
  }
}

.brochure .popup-title {
  display: none;
}

.brochure .cta-about__container {
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 992px) {
  .brochure .cta-about__container {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .brochure__cta .cta-about__form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .brochure__cta {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .brochure__cta .cta-about__form {
    padding: 0;
    gap: 32px;
  }
  .brochure__cta .cta-about__inputs {
    gap: 32px;
  }
}

@media (max-width: 992px) {
  .popup[data-popup="brochure"] .popup__close-btn {
    top: 16px;
    right: 16px;
    background: none;
    padding: 0;
    height: 16px;
  }
  .popup[data-popup="brochure"] .popup__close-btn p {
    display: none;
  }
  .popup[data-popup="brochure"] .popup__close-btn img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 768px) {
  .popup[data-popup="brochure"] .popup__close-btn {
    top: -8px;
    right: -16px;
  }
}
