/** @format */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 24px 24px 100px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@media (min-width: 2559px) {
  .popup[data-popup="about"] .popup__content {
    padding: 104px 12px 128px 24px;
  }
}

@media (max-width: 1200px) {
  .popup[data-popup="about"] .popup__content {
    padding: 26px 18px 20px 30px;
  }
}

@media (max-width: 992px) {
  .popup[data-popup="about"] .popup__content {
    padding: 11px 3px 5px 15px;
  }
}

@media (max-width: 768px) {
  .popup[data-popup="about"] .popup__content {
    padding: 48px 15px 20px;
  }
}

.popup__scrollmouse {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .popup__scrollmouse {
    bottom: 80px;
  }
}

.popup__scrollmouse svg circle {
  -webkit-animation: scrollMouseAnim 3s ease infinite;
          animation: scrollMouseAnim 3s ease infinite;
}

@media (max-width: 768px) {
  .popup__scrollmouse {
    opacity: 1;
  }
}

.popup__scrollmouse.removed {
  opacity: 0 !important;
}

@-webkit-keyframes scrollMouseAnim {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(36%);
            transform: translateY(36%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes scrollMouseAnim {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(36%);
            transform: translateY(36%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.popup[data-popup="about"] .popup__scrollmouse {
  opacity: 1;
}

.popup__background {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 22, 22, 0.4);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

.popup__background::before {
  content: "";
  background: #161616;
  position: absolute;
  left: 24px;
  top: 24px;
  right: 24px;
  bottom: 100px;
}

@media (max-width: 768px) {
  .popup__background::before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.popup__background.active {
  opacity: 1;
}

.popup__background.brochure-open::before {
  opacity: 0;
}

@media (max-width: 768px) {
  .popup {
    padding: 0;
  }
}

.popup.popup-show {
  opacity: 1;
  pointer-events: auto;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.popup__wrapper {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  padding-top: 24px;
  position: relative;
  z-index: 2;
  background-color: rgba(22, 22, 22, 0.96);
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .popup__wrapper {
    background-color: #161616;
  }
}

@media (max-width: 768px) {
  .popup__wrapper {
    padding-top: 16px;
    border-radius: 0;
  }
}

.popup__wp {
  overflow-y: auto;
  height: 100%;
  /* Track */
  /* Handle */
}

@media (max-width: 768px) {
  .popup__wp {
    overflow-y: auto;
  }
}

.popup__wp::-webkit-scrollbar {
  width: 4px;
}

.popup__wp::-webkit-scrollbar-track {
  background: #2a2420;
  border-radius: 4px;
}

.popup__wp::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--gold);
}

.popup__content {
  padding: 56px 12px 80px 24px;
  width: 100%;
  height: 100%;
}

@media (min-width: 2559px) {
  .popup__content {
    padding: 104px 60px 128px 72px;
  }
}

@media (max-width: 1200px) {
  .popup__content {
    padding: 26px 38px 50px 50px;
  }
}

@media (max-width: 992px) {
  .popup__content {
    padding: 11px 23px 35px 35px;
  }
}

@media (max-width: 768px) {
  .popup__content {
    padding: 16px;
    padding-top: 48px;
  }
}

.popup input {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-bottom: 1px solid var(--grey);
}

.popup input::-webkit-input-placeholder {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.popup input:-ms-input-placeholder {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.popup input::-ms-input-placeholder {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.popup input::placeholder {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.popup input:focus {
  border-bottom: 1px solid white;
}

.popup input:focus::-webkit-input-placeholder {
  color: #fff;
}

.popup input:focus:-ms-input-placeholder {
  color: #fff;
}

.popup input:focus::-ms-input-placeholder {
  color: #fff;
}

.popup input:focus::placeholder {
  color: #fff;
}

@media (max-width: 768px) {
  .popup-active .project__brochure-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.hide-btn .project__btns {
  display: none;
}

.popup-subtitle {
  color: var(--gold);
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

.popup-title {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.popup-text {
  max-width: 816px;
  color: var(--grey);
  font-size: 15px;
  font-weight: 300;
  line-height: 150%;
  /* 22.5px */
}

@media (max-width: 1600px) {
  .popup-text {
    max-width: 660px;
  }
}

@media (max-width: 992px) {
  .popup-text {
    max-width: 100%;
  }
}

.popup-container {
  padding-inline: 56px 60px;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .popup-container {
    padding: 0;
  }
}

.btn-gradient {
  background-color: var(--gold);
  border-radius: 4px;
  padding: 16px 22px;
  color: var(--light-color);
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.btn-gradient span:nth-child(1) {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-gradient span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-140.3%, #ae6e56), color-stop(-130.99%, #c99179), color-stop(-121.47%, #dfac95), color-stop(-111.84%, #efc0a9), color-stop(-102.29%, #f8ccb5), color-stop(-92.73%, #fbd0b9), color-stop(-77.68%, #f6cab3), color-stop(-57.45%, #e9baa2), color-stop(-52.92%, #e5b59d), color-stop(-51.81%, #e0ae96), color-stop(-46.89%, #cc957b), color-stop(-41.21%, #bc8065), color-stop(-34.6%, #b07054), color-stop(-26.41%, #a76449), color-stop(-14.92%, #a25e42), color-stop(16.99%, #a15c40), color-stop(38.18%, #b96f50), color-stop(63.29%, #cf7f5f), color-stop(87.65%, #dc8a68), color-stop(110.21%, #e08d6b), color-stop(111.04%, #dd8b69), color-stop(117.83%, #c7795a), color-stop(125.77%, #b66c4e), color-stop(135.58%, #aa6346), color-stop(149.16%, #a35d41), color-stop(184.9%, #a15c40));
  background-image: linear-gradient(0deg, #ae6e56 -140.3%, #c99179 -130.99%, #dfac95 -121.47%, #efc0a9 -111.84%, #f8ccb5 -102.29%, #fbd0b9 -92.73%, #f6cab3 -77.68%, #e9baa2 -57.45%, #e5b59d -52.92%, #e0ae96 -51.81%, #cc957b -46.89%, #bc8065 -41.21%, #b07054 -34.6%, #a76449 -26.41%, #a25e42 -14.92%, #a15c40 16.99%, #b96f50 38.18%, #cf7f5f 63.29%, #dc8a68 87.65%, #e08d6b 110.21%, #dd8b69 111.04%, #c7795a 117.83%, #b66c4e 125.77%, #aa6346 135.58%, #a35d41 149.16%, #a15c40 184.9%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% 200%;
  background-position: 250% 270%;
  -webkit-transition: background-position 0.3s ease 0s;
  transition: background-position 0.3s ease 0s;
}

.btn-gradient:before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  background-color: #654132;
  border-radius: 4px;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (any-hover: hover) {
  .btn-gradient:hover .cta-about__btn-bg {
    background-position: 250% 200%;
  }
  .btn-gradient:hover:before {
    -webkit-transform: scaleX(var(--scaleX)) scaleY(var(--scaleY));
            transform: scaleX(var(--scaleX)) scaleY(var(--scaleY));
  }
}
