.modal360 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10002;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.open-modal360 .modal360 {
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal360__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal360__iframe iframe {
  width: 100%;
  height: 100%;
}

.alter-parent-window .modal360__close-btn {
  display: none;
}
