.pano {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.open-pano .pano {
  opacity: 1;
  pointer-events: auto;
}

.pano__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pano__iframe iframe {
  width: 100%;
  height: 100%;
}

.pano__close-btn {
  -webkit-transition: opacity 0.15s ease 200ms;
  transition: opacity 0.15s ease 200ms;
}

.hide-close-pano .pano__close-btn {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
