<div class="project__masterplan masterplan">
	<div class="masterplan__wrapper">
		<div class="masterplan__draggable">
			<div class="masterplan__media">
				<div class="masterplan__dots-wrapper">
					@require('./modalDots/dots.html')
				</div>
				<div class="masterplan__bg">
					<img class="masterplan__bg_map" alt="map" data-project="map" />
					<img
						class="masterplan__bg_map-shadow"
						alt="shadow"
						data-project="map-shadow"
					/>
				</div>
			</div>
		</div>
		<div class="masterplan__draggable-hand">
			<img src="@img/projects/icons/hand.svg" alt="hand" />
		</div>
	</div>
</div>
