<div class="project__partner partner-project" data-project="partnerLogoParent">
	<div class="partner-project__wrapper">
		<div class="partner-project__logo">
			<img
				data-project="logo"
				src="@img/projects/business-bay-tower/project-icon.svg"
				alt="project-icon"
			/>
		</div>
		<div class="partner-project__text">Exclusive Sales Partner</div>
		<div class="partner-project__logo partner-project__logo_ax">
			<img src="@img/projects/icons/AX_CAPITAL.svg" alt="AX_CAPITAL" />
		</div>
	</div>
</div>
