<!-- @format -->

<div class="project__partner partner-project" data-project="partnerLogoParent">
  <div class="partner-project__wrapper">
    <div class="partner-project__logo">
      <img data-project="logo" alt="project-icon" />
    </div>
    <div class="partner-project__bot" data-project="partnerInfo">
      <div class="partner-project__info">
        <p class="partner-project__num">AED 5.8 mln</p>
        <p class="partner-project__about">prices from</p>
      </div>
      <div class="partner-project__info">
        <p class="partner-project__num">10%</p>
        <p class="partner-project__about">On Booking</p>
      </div>
    </div>
    <!-- <div class="partner-project__text">Exclusive Sales Partner</div>
		<div class="partner-project__logo partner-project__logo_ax">
			<img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/icons/AX_CAPITAL.svg" alt="AX_CAPITAL" />
		</div> -->
  </div>
</div>
