// HEADER ========== START
.header {
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 24px 8px;
  background-color: #161616;

  @include _991-max {
    right: 0;
    bottom: auto;
    height: auto;
    width: 100%;
    padding: 16px 16px 0;
    background-color: rgba(22, 22, 22, 0);
  }

  &.isMenuOpened {
    background-color: rgba(22, 22, 22, 0);
    @include _991-max {
    }
  }

  // .header__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;

    @include _991-max {
      flex-direction: row;
      padding: 20px 24px;
      background-color: rgb(0, 0, 0);
      border-radius: 4px;
    }
  }

  // .header__logo
  &__logo {
    width: 56px;

    img {
      width: 100%;
      object-fit: contain;
    }

    @include _1700-min {
      width: 80px;
    }

    @include _991-max {
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      width: 62px;
    }

    @include _576-max {
      width: 56px;
    }
  }

  // .header__menu-btn
  &__menu-btn {
    @include flex;
  }

  // .header__socials
  &__socials {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 24px;
    padding-left: 18px;

    .isMenuOpened & {
      opacity: 0;
      visibility: hidden
    }

    &-wrapper {
      @include flex(center, flex-start);
      flex-direction: column;
      gap: 16px;
    }

    @include _1700-min {
      padding-left: 28px;
    }

    @include _991-max {
      width: 56px;
      right: 24px;
      bottom: 24px;
      left: auto;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      border-radius: 100px;
      padding: 8px;
      display: grid;
      transition: all 400ms ease-in-out;
      grid-template-rows: 0fr auto;
      overflow: hidden;

      &.opened {
        // padding: 12px 10px 12px;
        grid-template-rows: 1fr auto;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        // padding: 20px 0 24px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms ease-in-out;

        .opened & {
          padding: 20px 0 24px;
          opacity: 1;
          visibility: visible;
        }
      }

      &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 4px;
        right: 4px;
        left: 4px;
        bottom: 4px;
        -webkit-mask:
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box,
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        background: -o-linear-gradient(315deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
        background: linear-gradient(135deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
        background-size: 200% 100%;
        background-position: 0 100%;
        border: 1.5px solid transparent;
        border-radius: 100px;
      }

      &:not(.opened) {
        animation: social-pulse 3s linear infinite;
      }

      @keyframes social-pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(215, 153, 112, 0.7), 0 0 0 0 rgba(215, 153, 112, 0.7);
        }
        40% {
          box-shadow:0 0 0 20px rgba(215, 153, 112, 0), 0 0 0 0 rgba(215, 153, 112, 0.7);
        }
        80% {
          box-shadow: 0 0 0 20px rgba(215, 153, 112, 0), 0 0 0 10px rgba(215, 153, 112, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(215, 153, 112, 0), 0 0 0 10px rgba(215, 153, 112, 0);
        }
      }
    }
  }
  // header__socials--toggle
  &__socials--toggle {
    display: none;
    background-color: transparent;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: none;
    }
    @include _991-max {
      display: block;
      width: 32px;
      height: 32px;
      margin: 4px;
      @include flex;

      &::after {
        content: url("../img/icons/message_icon.svg");
        width: 22px;
        height: 22px;
        position: absolute;
        bottom: 16px;
        .opened & {
          width: 32px;
          height: 32px;
          bottom: 12px;
          content: url("../img/icons/gold-close.svg");
        }
      }
    }
  }

  // .header__socials-item
  &__socials-item {
    @media (min-width: 992px) {
      border-radius: 4px;
      overflow: hidden;
      display: grid;
      transition: all 400ms ease;
      grid-template-columns: auto 0fr;
      overflow: hidden;
      position: relative;
      background-color: #000000;
      padding: 8px;

      &:hover {
        grid-template-columns: auto 1fr;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -webkit-mask:
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box,
          -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        background: -o-linear-gradient(315deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
        background: linear-gradient(135deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
        background-size: 200% 100%;
        background-position: 0 100%;
        border: 1.5px solid transparent;
      }

      div {
        overflow: hidden;
      }

      span {
        display: block;
        color: #8c8c8c;
        text-wrap: nowrap;
        font-weight: 500;
        height: 100%;
        overflow: hidden;
        transition: all 500ms ease;
        line-height: normal;
        position: relative;
        align-content: center;
        margin: 0;
        left: 0;
        opacity: 0;
        font-size: 14px;
        width: 100%;
      }

      &:hover {
        span {
          padding: 0 12px 0 9px;
          opacity: 1;
        }
      }

      picture,
      img {
        @include flex;
        z-index: 2;
        position: relative;
        overflow: hidden;
        width: 16px;
        object-fit: contain;
      }
    }

    @include _1700-min {
      picture,
      img {
        width: 20px;
      }
      span {
        font-size: 16px;
      }
    }

    @include _991-max {
      padding: 4px;
      span {
        display: none;
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    @include _576-max {
      // width: 24px;
      // height: 24px;
    }
  }
}

// MENU OPENS BUTTON ========== START
.menu-btn {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  padding: 10px 10px 10px 0;
  overflow: hidden;
  width: 34px;
  gap: 4px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-tap-highlight-color: transparent;
  @include _1700-min {
    width: 32px;
    gap: 6px;
    padding-right: 0;
  }

  @include _991-max {
    top: auto;
    position: relative;
    transform: translate(0%, 0%);
    padding-left: 10px;
    width: 44px;
  }

  &__line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(135deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
    transition: 0.4s ease;

    @include _1700-min {
      height: 3px;
    }

    &:nth-child(2) {
      width: 80%;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        border-radius: 2px;
        background: linear-gradient(135deg, #d79970 0, #905d44 50%, #d79970 100%) border-box;
        display: block;
        transition: 0.3s ease 0s;
      }

      @include _991-max {
        left: 20%;
      }
    }

    .isMenuOpened & {
      &:nth-child(1) {
        transform: translateX(150%);
      }

      &:nth-child(3) {
        transform: translateX(-150%);
      }

      &:nth-child(2) {
        width: 100%;
        transform: rotate(45deg);

        &::after {
          transform: rotate(90deg);
          transition: 0.4s ease 0.2s;
        }
      }
    }
  }
}

// MENU BODY ========== START
.menu {
  @include position(fixed);
  width: 100%;
  height: 100%;
  z-index: 5;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);

  @include _991-max {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  }

  // .menu__bg
  &__bg {
    // background-color: red;
    background-color: rgba(22, 22, 22, 0.85);
    // --tw-backdrop-blur: blur(24px);
    // -webkit-backdrop-filter: blur(24px);
    // backdrop-filter: blur(24px);
    width: 100%;
    height: 100%;
    @include position(fixed);
  }

  // .menu__inner
  &__inner {
    position: relative;
    padding: 24px 24px 24px 110px;

    @include _1700-min {
      padding-left: 136px;
    }

    @include _1399-max {
      padding-left: 96px;
    }

    @include _991-max {
      padding: 114px 20px 0 20px;
      height: 100%;
    }

    @include _767-max {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  // .menu__title
  &__title {
    font-family: var(--font);
    font-size: 24px;
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    span {
      // transform: translateY(50px);
      width: fit-content;
      opacity: 0;
      display: block;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

      @include _991-max {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
    }

    @include _1700-min {
      font-size: 36px;
    }
  }

  // .menu__nav
  &__nav {
    margin-top: 16px;
    padding-top: 16px;
    height: 100%;
    overflow-y: scroll;
    border-radius: 4px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .menu__list
  &__list {
    // margin-top: 32px;
    // display: flex;
    // flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 58px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;

    @include _1700-min {
      grid-template-columns: repeat(5, 1fr);
      gap: 24px;
    }

    @include _1399-max {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @include _991-max {
    }
  }

  // .menu__link-item
  &__link-item {
    position: relative;
    display: block;
    border-radius: 4px;
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    // max-height: 214px;

    @include _991-max {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      opacity: 0;
      transform: scale(0.99);
      transform-origin: center;

      .isMenuOpened & {
        opacity: 1;
        transform: scale(1);
        transition: 0.4s ease 0.25s;
      }
    }
  }

  // .menu__link-item--inner
  &__link-item--inner {
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    border-radius: 4px;
    overflow: hidden;
    height: 100%;

    @media (hover: hover) {
      &:hover {
        transform: scale(0.99);
      }
    }
  }

  // .menu__link-img
  &__link-img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link-name {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-size: 14px;
    line-height: 1.2;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.855);
    color: var(--light-color);
    font-weight: 300;

    @include _1700-min {
      font-size: 16px;
    }
  }
}
