.preloader {
  width: 100%;
  height: 100dvh;
  @include position(fixed);
  background-color: #000;
  z-index: 20000;
  @include flex();
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 1s ease;

  .preloader-hidden & {
    transform: translateY(-100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  // .preloader__circle
  &__circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(0deg, #000 50%, var(--gold) 100%);
    animation: spin 1s linear infinite;
  }

  // .preloader__circle-inner
  &__circle-inner {
    width: 90%;
    height: 90%;
    background-color: #000;
    border-radius: 50%;

    @keyframes spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  // .preloader__inner
  &__inner {
  }

  // .preloader__total
  &__total {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 24px;
    @include flex();
    left: 0;
    right: 0;
    span {
      font-size: 18px;
    }
  }
  &.in-project & {
    &__logo {
      display: grid;
    }
    &__map {
      display: none;
    }
  }
  &__logo {
    position: relative;
    display: grid;
    &-img {
      width: 100%;
      grid-area: 1/1;
      img {
        width: 383px;
    height: auto;
    @media (max-width: 768px) {
      width: 200px;
    }
      }
    }
    &-loading {
      grid-area: 1/1;
      position: relative;
      width: 0;
      overflow: hidden;
      img {
        width: 383px;
    height: auto;
    @media (max-width: 768px) {
      width: 200px;
    }
      }
    }
  }
  &__map {
    stroke-dashoffset: 4000;
    stroke-dasharray: 4000;
    height: 54vh;
    width: 54vh;
    transition: stroke-dashoffset 0.2s cubic-bezier(0.4, 0, 0, 1);
    @media (max-width: 768px) {
      height: 300px;
      width: 300px;
    }
  }
}
