.testBtns {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: var(--z-index);
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  display: none;
  // .testBtns__btn

  &__btn {
    padding: 8px 10px;
    font-size: 18px;
    background-color: #a7bbec;
    border-radius: 4px;
    color: var(--black-color);
  }
}
