<div class="viewer__btns">
  <div class="viewer__btn viewer-btn-int-ext">
    <button class="viewer__btn-swap viewer__btn-swap_ext">Exterior 360</button>
    <button class="viewer__btn-swap viewer__btn-swap_int">Interior 360</button>
  </div>
  <div class="viewer__btn viewer-btn-floorplan" data-alter-parent-window>
    <div class="viewer__btn-wrapper">
      <div class="viewer__btn-icon">
        <div class="viewer__icon-inner">
          <!-- <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/modal360/floorplan-gold.svg" alt=""> -->
          <span class="viewer__icon-mask" style="mask: url(https://d3b6muno9lbfvx.cloudfront.net/project-map/modal360/floorplan-gold.svg) no-repeat center"></span>
        </div>
      </div>
      <button>Floorplan</button>
    </div>
  </div>
  <div class="viewer__btn viewer-btn-gallery" data-fancybox-trigger="gallery" data-alter-parent-window>
    <div class="viewer__btn-wrapper">
      <div class="viewer__btn-icon">
        <div class="viewer__icon-inner">
          <!-- <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/modal360/gallery-gold.svg" alt=""> -->
          <span class="viewer__icon-mask" style="mask: url(https://d3b6muno9lbfvx.cloudfront.net/project-map/modal360/gallery-gold.svg) no-repeat center"></span>
        </div>
      </div>
      <button>2D Gallery</button>
    </div>
  </div>
</div>