<div
	class="swiper-slide int active"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_bedroom.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_bedroom.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>

<div
	class="swiper-slide int swiper-slide-next"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_living_room_1.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_living_room_1.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>

<div
	class="swiper-slide int"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_living_room_2.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_living_room_2.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>

<div
	class="swiper-slide int"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_wardrobe.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_wardrobe.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>

<div
	class="swiper-slide int"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_guestbathroom.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_guestbathroom.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>

<div
	class="swiper-slide int"
	data-src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/VR_bathroom.jpg"
	style="width: 97.6px; margin-right: 2px"
>
	<img
		loading="lazy"
		src="https://d3b6muno9lbfvx.cloudfront.net/business-bay-tower-vr/files/modal-360-img/img5/1_bedroom_L1/360/preview/VR_bathroom.jpg"
		alt="photo"
	/>
	<div class="swiper-slide-text">Interior</div>
</div>
