<div class="viewer__loader">
  <svg class="viewer__loader-svg" viewBox="0 0 150 150">
    <circle cx="75" cy="75" r="75" fill="rgba(61, 61, 61, 0.5)"></circle>
    <path
      class="viewer__loader-line"
      d="M 75 8 A 67 67 0 1 1 74.9957902658469 8.000000132252708"
      fill="none"
      stroke="rgba(255, 255, 255, 0.7)"
      stroke-width="10"
      stroke-linecap="round"
      stroke-dasharray="420"
      stroke-dashoffset="420"
    ></path>
  </svg>
  <div class="viewer__loader-text">Loading...</div>
</div>
