.map {
    background-color: #191919;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.leaflet-control-container {
    display: none;
}

#map {
    height: 100vh;
    width: 100%;
    background-color: #191919;
}

.map__marker {
    // @include flex();
    display: grid;
    transition: all 400ms ease-in-out;
    grid-template-columns: max-content 0fr;
    padding: 2px;
    background-color: var(--dark-color);

    // Gradient Border 
    border-radius: 4px;
    $border: 1px;
    color: #fff;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent;

    &:hover {
        grid-template-columns: max-content 1fr;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(135deg, #d79970 0%, #905d44 50%, #d79970 100%);
    }

    // map__marker-item
    &-item {
        width: max-content !important;
        height: max-content !important;
    }

    &-icon {
        height: 44px;
        width: 44px;
        border-radius: 2px;
        overflow: hidden;
        img {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
        }
    }

    // map__marker-content
    &-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        overflow: hidden;
        transition: padding 400ms ease-in-out;

        .map__marker:hover & {
            padding-left: 8px;
            padding-right: 6px;
        }
    }

    // map__marker-name
    &-name {
        white-space: nowrap;
        font-size: 12px;
        font-family: var(--font);
        font-weight: 500;
    }
}

.light-map {
    transition: opacity 0.2s ease;

    .isMenuOpened & {
        opacity: 0;
    }

    .clipPathEffect & {
        clip-path: circle(33.3vh at var(--x) var(--y));
    }

    .maskImageEffect &{
        img {
            mask-image: radial-gradient(
                circle,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 0.5) 40%,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 0) 80%,
                rgba(0, 0, 0, 0) 100%
            );
            -webkit-mask-image: radial-gradient(
                circle,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 0.5) 40%,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 0) 80%,
                rgba(0, 0, 0, 0) 100%
            );
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: 700px 700px;
            -webkit-mask-size: 700px 700px;
        }
    }

    .svgMaskEffect & {
        img {
            mask-image: url("#mask");
            -webkit-mask-image: url("#mask");
        }
    }
}
