.project {
  --brochureBtnW: 183px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff37;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  .open-project & {
    opacity: 1;
    pointer-events: auto;
  }
  // .project__container

  &__container {
  }

  // .project__dot

  &__dot {
  }
  // .project__partner

  &__partner {
  }

  // .project__btns

  &__btns {
    --shift: 20px;
    position: absolute;
    bottom: var(--shift);
    left: var(--shift);
    display: flex;
    width: calc(100% - var(--shift) * 2);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    .open-project & {
      opacity: 1;
      pointer-events: auto;
    }
    @media (max-width: 768px) {
      --shift: 16px;
    }
    @media (max-width: 576px) {
      --shift: 16px;
      transition: all 300ms ease-in-out;
      width: calc(100% - var(--shift) * 2);
    }
  }

  // .project__popupBtns

  &__popupBtns {
  }

  // .project__popupBtns-wrapper

  &__popupBtns-wrapper {
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.08);
    @media (max-width: 1600px) {
      width: max-content;
    }
    @media (max-width: 1200px) {
      left: 0;
      transform: none;
    }

    @media (max-width: 992px) {
      height: 40px;
      width: 49%;
      display: grid;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.24);
      transition: 0.3s;
      padding: 0;
      &.active {
        height: 150px;
        &::after {
          background-color: #000000;
        }
        .project__popupBtns-inner {
          opacity: 1;
          visibility: visible;
          padding-top: 8px;
        }
        .project__popupBtns-open {
          span {
            transform: rotateX(180deg);
          }
        }
        .project__popupBtns-group {
          &:nth-child(1) {
            transition-delay: 0.15s, 0.05s;
            transform: translateY(0);
            opacity: 1;
          }
          &:last-child {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: #161616;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        z-index: -1;
        transition: all 400ms ease-in-out;
      }
    }
    @media (max-width: 768px) {
      width: 57%;
      // padding: 4px 8px;
    }
    @media (max-width: 576px) {
      width: 100%;
      // padding: 4px 8px;
    }
  }
  // .project__popupBtns-inner

  &__popupBtns-inner {
    display: flex;
    overflow: hidden;
    gap: 8px;
    @media (max-width: 992px) {
      display: grid;
      gap: 8px;
      transition: 0.3s;
      padding:0 8px ;
      button {
        overflow: hidden;
      }
    }
  }
  // .project__popupBtn

  &__popupBtn {
    flex-shrink: 0;
  }
  // .project__brochure-btn

  &__brochure-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--light-color);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--gold);
    border-radius: 4px;
    padding: 16px 22px;
    background-image: linear-gradient(
      153deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.13) 0
    );
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    background-position: 250% 100%;
    @media (max-width: 768px) {
      position: fixed;
      top: 16px;
      right: 16px;
      bottom: auto;
      left: auto;
      background-image: none;
      padding: 11px 27px;
    }
  }

  // .project__popupBtns-open

  &__popupBtns-open {
    padding: 11px 0;
    grid-column: 1 / -1;
    justify-self: center;
    display: none;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    span {
      margin-left: 8px;
      transition: all 400ms ease-in-out;
    }
    @media (max-width: 992px) {
      // @media (max-width: 768px) {
      display: flex;
      align-self: end;
    }
  }
  // .project__close-btn

  &__close-btn {
    left: 24px;
    top: 24px;
    right: auto;
    transition: all 400ms ease-in-out;
    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__popupBtns-group {
    display: flex;
    gap: 8px;
    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      opacity: 0;
      &:first-child {
        transform: translateY(200%);
        transition: transform 0.3s, opacity 0.3s;
        .active & {
          transition-delay: 0.15s, 0.05s;
          transform: translateY(0);
          opacity: 1;
        }
      }
      &:last-child {
        position: relative;
        z-index: 2;
        transform: translateY(100%);
        transition: transform 0.3s 0.1s, opacity 0.3s;
        .active & {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

// .mob-device{
//   .popup__wp{
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }
// }
@import "./components/masterplan";
@import "./components/dot";
@import "./components/partner";
@import "./components/popupBtn";
@import "./components/popups/common";
@import "./components/popups/about";
@import "./components/popups/developer";
@import "./components/popups/ax";
@import "./components/popups/payment";
@import "./components/popups/brochure";
@import "./components/map";
@import "./components/modal360";
