.project {
  --brochureBtnW: 183px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff37;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  .open-project & {
    opacity: 1;
    pointer-events: auto;
  }
  // .project__container

  &__container {
    height: 100%;
  }

  // .project__dot

  &__dot {
  }

  //  .project-dot

  &-dot {
  }
  // .project__partner

  &__partner {
  }

  // .project__btns

  &__btns {
    --shift: 20px;
    position: absolute;
    bottom: var(--shift);
    left: var(--shift);
    display: flex;
    width: calc(100% - var(--shift) * 2);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    .open-project & {
      opacity: 1;
      pointer-events: auto;
    }
    // @media (max-width: 992px) {
    // 	z-index: 9999;
    // }
    @media (max-width: 768px) {
      --shift: 16px;
    }
    @media (max-width: 576px) {
      --shift: 16px;
      transition: all 300ms ease-in-out;
      width: calc(100% - var(--shift) * 2);
    }
  }

  // .project__popupBtns

  &__popupBtns {
  }

  // .project__popupBtns-wrapper

  &__popupBtns-wrapper {
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      border: 1.5px solid transparent;
      pointer-events: none;
      -webkit-mask: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #fff)
          )
          padding-box,
        -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      background: -o-linear-gradient(
          315deg,
          #bcbcbc 0,
          rgba(188, 188, 188, 0.1) 50%
        )
        border-box;
      background: linear-gradient(
          135deg,
          #bcbcbc 0,
          rgba(188, 188, 188, 0.1) 50%
        )
        border-box;
      background-size: 200% 100%;
      background-position: 0 center;
      animation: shine 3s cubic-bezier(0.4, 0.4, 0.4, 1) infinite;
    }
    @keyframes shine {
      0% {
        background-position: 0 100%;
      }
      100% {
        background-position: 200% center;
      }
    }
    @media (max-width: 1600px) {
      width: max-content;
    }
    @media (max-width: 1200px) {
      left: 0;
      transform: none;
    }

    @media (max-width: 992px) {
      height: 40px;
      width: 49%;
      display: grid;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.24);
      transition: 0.3s;
      padding: 0;
      &.activee {
        height: 200px;
        &::after {
          background-color: #000000;
        }
        .project__popupBtns-inner {
          opacity: 1;
          visibility: visible;
          padding-top: 8px;
        }
        .project__popupBtns-open {
          span {
            transform: rotateX(180deg) translateX(7px);
          }
        }
        .project__popupBtns-group {
          &:nth-child(1) {
            transition-delay: 0.15s, 0.05s;
            transform: translateY(0);
            opacity: 1;
          }
          &:nth-child(1) {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: #161616;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        z-index: -1;
        transition: all 400ms ease-in-out;
      }
    }
    @media (max-width: 768px) {
      width: 57%;
      // padding: 4px 8px;
    }
    @media (max-width: 576px) {
      width: 100%;
      // padding: 4px 8px;
    }
  }
  // .project__popupBtns-inner

  &__popupBtns-inner {
    display: flex;
    overflow: hidden;
    gap: 8px;
    @media (max-width: 992px) {
      display: grid;
      gap: 4px;
      transition: 0.3s;
      padding: 0 8px;
      button {
        overflow: hidden;
      }
    }
  }
  // .project__popupBtn

  &__popupBtn {
    flex-shrink: 0;
  }
  // .project__brochure-btn

  &__brochure-btn {
    position: absolute;
    bottom: 2px;
    right: 0;
    color: var(--light-color);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--gold);
    border-radius: 4px;
    padding: 16px 22px;
    &_txt {
      position: relative;
      z-index: 2;
    }
    // .project__brochure-btn_bg

    &_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 4px;
      background-image: linear-gradient(
        0deg,
        #ae6e56 -140.3%,
        #c99179 -130.99%,
        #dfac95 -121.47%,
        #efc0a9 -111.84%,
        #f8ccb5 -102.29%,
        #fbd0b9 -92.73%,
        #f6cab3 -77.68%,
        #e9baa2 -57.45%,
        #e5b59d -52.92%,
        #e0ae96 -51.81%,
        #cc957b -46.89%,
        #bc8065 -41.21%,
        #b07054 -34.6%,
        #a76449 -26.41%,
        #a25e42 -14.92%,
        #a15c40 16.99%,
        #b96f50 38.18%,
        #cf7f5f 63.29%,
        #dc8a68 87.65%,
        #e08d6b 110.21%,
        #dd8b69 111.04%,
        #c7795a 117.83%,
        #b66c4e 125.77%,
        #aa6346 135.58%,
        #a35d41 149.16%,
        #a15c40 184.9%
      );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      background-size: 200% 200%;
      background-position: 250% 270%;
      transition: background-position 0.3s ease 0s;
    }

    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
      background-color: #654132;
      border-radius: 4px;
      display: block;
      transition: transform 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        .project__brochure-btn_bg {
          background-position: 250% 200%;
        }
        &:before {
          transform: scaleX(1.01) scaleY(1.02);
        }
      }
    }
    @media (max-width: 992px) {
      padding: 10px 22px;
      bottom: 1px;
    }
    @media (max-width: 768px) {
      position: fixed;
      top: 16px;
      right: 16px;
      bottom: auto;
      left: auto;
      // background-image: none;
      padding: 11px 27px;
    }
  }

  // .project__popupBtns-open

  &__popupBtns-open {
    padding: 12px 0;
    grid-column: 1 / -1;
    justify-self: center;
    display: none;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    span {
      position: absolute;
      transform: translateX(7px);
      transition: all 400ms ease-in-out;
    }
    @media (max-width: 992px) {
      // @media (max-width: 768px) {

      display: flex;
      align-self: end;
    }
  }
  // .project__close-btn

  &__close-btn {
    left: 24px;
    top: 24px;
    right: auto;
    transition: all 400ms ease-in-out;
    width: max-content;
    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__popupBtns-group {
    display: flex;
    gap: 8px;
    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      opacity: 0;
      &:first-child {
        transform: translateY(300%);
        transition: transform 0.3s, opacity 0.3s;
        .activee & {
          transition-delay: 0.15s, 0.05s;
          transform: translateY(0);
          opacity: 1;
        }
      }
      &:nth-child(2) {
        position: relative;
        z-index: 2;
        transform: translateY(200%);
        transition: transform 0.3s 0.1s, opacity 0.3s;
        .activee & {
          transform: translateY(0);
          opacity: 1;
        }
      }
      &:nth-child(3) {
        position: relative;
        z-index: 2;
        transform: translateY(100%);
        transition: transform 0.3s 0.1s, opacity 0.3s;
        grid-template-columns: repeat(1, 1fr);
        .popupBtn__wrapper {
          justify-content: center;
        }
        .activee & {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  &__popupBtns-block {
    transform: translateY(-1px);
  }
}

.mob-device {
  .popup__wp {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .popup__wrapper {
    padding-right: 0px;
  }
}
@import './components/dot';
@import './components/dotTabs';
@import './components/partner';
@import './components/popupBtn';
@import './components/popups/common';
@import './components/popups/about';
@import './components/popups/developer';
@import './components/popups/ax';
@import './components/popups/payment';
@import './components/popups/brochure';
@import './components/popups/contact';
@import './components/map';
@import './components/modal360';
