/** @format */

.popup {
  &[data-popup="brochure"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 78px 40px 118px;
    top: 50%;
    transform: translateY(-50%);
    // z-index: 10002;
    @media (max-width: 992px) {
      padding: 0 16px;
    }
    .popup__wrapper {
      height: 100%;
      max-height: 600px;
      max-width: 1360px;
      padding: 32px 32px 64px;

      @media (max-width: 992px) {
        // max-height: 100%;
        max-width: 400px;
        padding: 30px 0 30px;
      }

      @media (max-width: 768px) {
        border-radius: 4px;
        
      }
    }
    .popup__content {
      padding: 0;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
    .popup__close-btn {
      bottom: calc(100% + 36px);
      top: auto;
      left: auto;
      right: -32px;
      @media (max-width: 992px) {
        top: -8px;
        right: -16px;
      }
    }
    .popup__wp {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .popup__wrapper {
      @media (max-width: 992px) {
        max-height: 100%;
        height: max-content;
        padding: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        backdrop-filter: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (max-width:576px) {
        width: calc(100% - 32px);
        
      }
    }
    .popup__scrollmouse {
      opacity: 0 !important;
    }
    .popup__wp {
      overflow-y: unset;

      @media (max-width: 768px) {
        height: max-content;
        background: rgba(22, 22, 22, 0.96);
        backdrop-filter: blur(4px);
        padding: 24px 32px;
        overflow-y: auto;
      }
      @media (max-width: 768px) and (max-height: 590px) {
        height: 450px !important;
      }
    }
    .popup__content {
      position: relative;
    }
  }
}
.brochure {
  height: 100%;
  &__container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 66px;
    padding: 0;
    height: 100%;
    @media (max-height: 750px) {
      // gap: 50px;
    }
    @media (max-height: 710px) {
      gap: 33px;
    }
    @media (max-width: 992px) {
      padding: 24px 32px;
      gap: 0;
    }
    @media (max-width: 768px) and (max-height: 710px) {
      gap: 0 !important;
      padding: 0;
    }
  }

  &__top {
    position: relative;
    @media(max-width:992px){

      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 32px;
    }
  }

  &__img {
    max-height: 392px;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
    }
    @media (max-width: 992px) {
      height: 230px;
    }
    @media (max-height: 750px) {
      // height: 320px;
    }

    @media (max-width: 768px) {
      order: 1;
      height: 230px;
      img {
        object-position: 35%;
      }
    }
    @media (max-height: 720px) and (max-width: 768px) {
      height: 156px;
    }
  }

  &__cta {
    // margin-top: 66px;
    input {
      color: var(--light-color);
    }
  }
  &__bot {
    display: none;
    order: 4;
    @media (max-width: 992px) {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    @media (max-height: 590px) {
      padding-bottom: 24px;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    span{
     display: block;
      width: 16px;
      height: 16px;
      &:nth-of-type(1){
        height: 14px;
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    width: 96px;
    img{
      width: 100%;
    }
  }
  .brochure__text-p {
    // margin-top: 16px;
    // margin-bottom: 32px;
    order: 2;
    position: absolute;
    right: 28px;
    bottom: 0;
    z-index: 2;
    color: #fff;
    font-family: Raleway;
    font-size: 128px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1300px) {
      font-size: 96px;
    }
    @media (max-width: 992px) {
      font-size: 36px;
      position: static;
      padding-top: 16px;
      padding-left: 32px;
      padding: 0;
      //  margin-top: 16px;
      margin-bottom: 16px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      // padding: 0 8px;
    }
  }

  .popup-title {
    display: none;
  }
  .cta-about__container {
    padding-left: 32px;
    padding-right: 32px;
    @media (max-width: 992px) {
      padding: 0;
    }
  }
  @media (max-width: 992px) {
    &__cta {
      .cta-about__form {
        width: 100%;
      }
      .cta-about__inputs {
      }
    }
  }
  @media (max-width: 768px) {
    &__cta {
      order: 3;
      .cta-about__form {
        padding: 0;
        gap: 32px;
      }
      .cta-about__inputs {
        gap: 32px;
      }
    }
  }
}
@media (max-width: 992px) {
  .popup {
    &[data-popup="brochure"] {
      .popup__close-btn {
        top: 16px;
        right: 16px;
        background: none;
        padding: 0;
        height: 16px;
        p {
          display: none;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
@media (max-width:768px) {
  .popup {
    &[data-popup="brochure"] {
      .popup__close-btn {
        top: -8px;
        right: -16px;

      }
    }
  }
}
