/** @format */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	padding: 24px 24px 100px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease 0s;
	// &[data-popup='brochure'] {
	// 	opacity: 1;
	// 	pointer-events: auto;
	// }
	&[data-popup='about'] {
		.popup__content {
			@media (min-width: 2559px) {
				padding: 104px 12px 128px 24px;
			}
			@media (max-width: 1200px) {
				padding: 26px 18px 20px 30px;
			}
			@media (max-width: 992px) {
				padding: 11px 3px 5px 15px;
			}
			@media (max-width: 768px) {
				padding: 48px 15px 20px;
			}
		}
	}

	&__scrollmouse {
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease;
		@media (max-width: 768px) {
			bottom: 80px;
		}
		svg {
			circle {
				animation: scrollMouseAnim 3s ease infinite;
			}
		}
		@media (max-width: 768px) {
			opacity: 1;
		}
		&.removed {
			opacity: 0 !important;
		}
		.hide-scroll-down & {
			opacity: 0 !important;
		}
	}
	@keyframes scrollMouseAnim {
		0% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(36%);
		}
		100% {
			transform: translateY(0%);
		}
	}
	&[data-popup='about'] & {
		&__scrollmouse {
			opacity: 1;
		}
	}
	&__background {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(22, 22, 22, 0.4);
		backdrop-filter: blur(16px);
		z-index: 9999;
		opacity: 0;
		pointer-events: none;
		&::before {
			content: '';
			background: rgba(22, 22, 22, 1);
			position: absolute;
			left: 24px;
			top: 24px;
			right: 24px;
			bottom: 100px;
			@media (max-width: 768px) {
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}
		&.active {
			opacity: 1;
		}
		&.brochure-open {
			&::before {
				opacity: 0;
			}
		}
	}
	@media (max-width: 768px) {
		padding: 0;
	}
	&.popup-show {
		opacity: 1;
		pointer-events: auto;
	}
	// .popup__overlay

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
	}

	// .popup__wrapper

	&__wrapper {
		width: 100%;
		height: 100%;
		padding-right: 8px;
		padding-top: 24px;
		position: relative;
		z-index: 2;
		background-color: rgba(22, 22, 22, 0.96);
		border-radius: 4px;
		@media (max-width: 1200px) {
			background-color: rgba(22, 22, 22, 1);
		}
		@media (max-width: 768px) {
			padding-top: 16px;
			//   padding-right: 0;
			border-radius: 0;
		}
	}

	// .popup__wp
	&__wp {
		overflow-y: auto;
		height: 100%;
		@media (max-width: 768px) {
			overflow-y: auto;
		}
		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #2a2420;
			border-radius: 4px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background: var(--gold);
		}
		@media (max-width: 768px) {
			//   overflow-y: unset;
		}
	}

	// .popup__content

	&__content {
		padding: 56px 12px 80px 24px;
		width: 100%;
		height: 100%;

		// position: relative;
		// z-index: 2;
		@media (min-width: 2559px) {
			padding: 104px 60px 128px 72px;
		}
		// @media (max-width: 1200px) {
		//   padding: 0 50px 20px;
		// }
		@media (max-width: 1200px) {
			padding: 26px 38px 50px 50px;
		}
		@media (max-width: 992px) {
			padding: 11px 23px 35px 35px;
		}

		@media (max-width: 768px) {
			padding: 16px;
			padding-top: 48px;
		}
	}

	// .popup__close-btn

	&__close-btn {
	}

	// .popup__payment

	&__payment {
	}

	input {
		transition: all 400ms ease-in-out;
		border-bottom: 1px solid var(--grey);
		&::placeholder {
			transition: all 400ms ease-in-out;
		}
		&:focus {
			border-bottom: 1px solid white;
			&::placeholder {
				color: #fff;
			}
		}
	}
}
.popup-active {
	@media (max-width: 768px) {
		.project__brochure-btn {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
}
.hide-btn {
	// @media (max-width: 992px) {
	.project__btns {
		display: none;
	}
	// }
}
.popup-subtitle {
	color: var(--gold);
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
}
.popup-title {
	color: var(--light-color);
	font-size: 24px;
	font-weight: 500;
	text-transform: capitalize;
}
.popup-text {
	max-width: 816px;
	color: var(--grey);
	font-size: 15px;
	font-weight: 300;
	line-height: 150%; /* 22.5px */
	@media (max-width: 1600px) {
		max-width: 660px;
	}
	@media (max-width: 992px) {
		max-width: 100%;
	}
}
.popup-container {
	padding-inline: 56px 60px;
	padding-bottom: 0;
	@media (max-width: 768px) {
		padding: 0;
	}
}

.btn-gradient {
	background-color: var(--gold);
	border-radius: 4px;
	padding: 16px 22px;
	color: var(--light-color);
	position: relative;
	font-size: 15px;
	font-weight: 500;
	span:nth-child(1) {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .project__brocure-btn_bg

	span:nth-child(2) {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 4px;
		background-image: linear-gradient(
			0deg,
			#ae6e56 -140.3%,
			#c99179 -130.99%,
			#dfac95 -121.47%,
			#efc0a9 -111.84%,
			#f8ccb5 -102.29%,
			#fbd0b9 -92.73%,
			#f6cab3 -77.68%,
			#e9baa2 -57.45%,
			#e5b59d -52.92%,
			#e0ae96 -51.81%,
			#cc957b -46.89%,
			#bc8065 -41.21%,
			#b07054 -34.6%,
			#a76449 -26.41%,
			#a25e42 -14.92%,
			#a15c40 16.99%,
			#b96f50 38.18%,
			#cf7f5f 63.29%,
			#dc8a68 87.65%,
			#e08d6b 110.21%,
			#dd8b69 111.04%,
			#c7795a 117.83%,
			#b66c4e 125.77%,
			#aa6346 135.58%,
			#a35d41 149.16%,
			#a15c40 184.9%
		);
		background-origin: border-box;
		background-clip: padding-box, border-box;
		background-size: 200% 200%;
		background-position: 250% 270%;
		transition: background-position 0.3s ease 0s;
	}

	&:before {
		content: '';
		position: absolute;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		top: -2px;
		left: -2px;
		background-color: #654132;
		border-radius: 4px;
		display: block;
		transition: transform 0.3s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			.cta-about__btn-bg {
				background-position: 250% 200%;
			}
			&:before {
				transform: scaleX(var(--scaleX)) scaleY(var(--scaleY));
			}
		}
	}
}
