.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 24px 24px 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
  // &[data-popup='brochure'] {
  // 	opacity: 1;
  // 	pointer-events: auto;
  // }
  &[data-popup="about"] {
    .popup__content {
      @media (min-width: 2559px) {
        padding: 104px 12px 128px 24px;
      }
      @media (max-width: 1200px) {
        padding: 26px 18px 20px 30px;
      }
      @media (max-width: 992px) {
        padding: 11px 3px 5px 15px;
      }
      @media (max-width: 768px) {
        padding: 48px 15px 20px;
      }
    }
  }

  &__scrollmouse {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    @media (max-width: 768px) {
      bottom: 80px;
    }
    svg {
      circle {
        animation: scrollMouseAnim 3s ease infinite;
      }
    }
    @media (max-width: 768px) {
      opacity: 1;
    }
    &.removed {
      opacity: 0 !important;
    }
  }
  @keyframes scrollMouseAnim {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(36%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  &[data-popup="about"] & {
    &__scrollmouse {
      opacity: 1;
    }
  }
  &__background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(22, 22, 22, 0.4);
    backdrop-filter: blur(16px);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    &::before {
      content: "";
      background: rgba(22, 22, 22, 1);
      position: absolute;
      left: 24px;
      top: 24px;
      right: 24px;
      bottom: 100px;
      @media (max-width: 768px) {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
    &.active {
      opacity: 1;
    }
    &.brochure-open {
      &::before {
        opacity: 0;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  &.popup-show {
    opacity: 1;
    pointer-events: auto;
  }
  // .popup__overlay

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
  }

  // .popup__wrapper

  &__wrapper {
    width: 100%;
    height: 100%;
    padding-right: 8px;
    padding-top: 24px;
    position: relative;
    z-index: 2;
    background-color: rgba(22, 22, 22, 0.96);
    border-radius: 4px;
    @media (max-width: 1200px) {
      background-color: rgba(22, 22, 22, 1);
    }
    @media (max-width: 768px) {
      padding-top: 16px;
      //   padding-right: 0;
      border-radius: 0;
    }
  }

  // .popup__wp
  &__wp {
    overflow-y: auto;
    height: 100%;
    @media (max-width: 768px) {
      overflow-y: auto;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #2a2420;
      border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: var(--gold);
    }
    @media (max-width: 768px) {
      //   overflow-y: unset;
    }
  }

  // .popup__content

  &__content {
    padding: 56px 12px 80px 24px;
    width: 100%;
    height: 100%;

    // position: relative;
    // z-index: 2;
    @media (min-width: 2559px) {
      padding: 104px 60px 128px 72px;
    }
    // @media (max-width: 1200px) {
    //   padding: 0 50px 20px;
    // }
    @media (max-width: 1200px) {
      padding: 26px 38px 50px 50px;
    }
    @media (max-width: 992px) {
      padding: 11px 23px 35px 35px;
    }

    @media (max-width: 768px) {
      padding: 16px;
      padding-top: 48px;
    }
  }

  // .popup__close-btn

  &__close-btn {
  }

  // .popup__payment

  &__payment {
  }
}
.popup-active {
  @media (max-width: 768px) {
    .project__brochure-btn {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
.hide-btn {
  @media (max-width: 768px) {
    .popup__background{
      &.brochure-open{
        z-index: 10001;
      }
      
    }
  }
}
.popup-subtitle {
  color: var(--gold);
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
}
.popup-title {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.popup-text {
  max-width: 816px;
  color: var(--grey);
  font-size: 15px;
  font-weight: 300;
  line-height: 150%; /* 22.5px */
  @media (max-width: 1600px) {
    max-width: 660px;
  }
  @media (max-width: 992px) {
    max-width: 100%;
  }
}
.popup-container {
  padding-inline: 56px 60px;
  padding-bottom: 0;
  @media (max-width: 768px) {
    padding: 0;
  }
}
