.developer {
	// .developer__container

	&__container {
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		column-gap: 80px;
		// padding-bottom: 64px;
	}

	// .developer__info

	&__info {
	}

	// .developer__stats

	&__stats {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 420px;
		gap: 48px;
	}

	// .developer__stat

	&__stat {
	}

	// .developer__number

	&__number {
		color: var(--light-color);
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 4px;
	}

	// .developer__text

	&__text {
		color: var(--gold);
		font-size: 15px;
		font-weight: 300;
		text-transform: capitalize;
	}

	// .developer__media

	&__media {
	}
}
.info-developer {
	// .info-developer__head

	&__head {
		margin-bottom: 48px;
	}

	// .info-developer__subtitle

	&__subtitle {
		margin-bottom: 4px;
	}

	// .info-developer__title

	&__title {
		margin-bottom: 16px;
	}

	// .info-developer__text

	&__text {
		display: grid;
		row-gap: 16px;
		p {
			color: inherit;
			font-weight: inherit;
			max-width: 600px;
		}
	}
}

.media-developer {
	flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 544px;
	position: relative;
  height: max-content;
	// width: 100%;
	// .media-developer__img-ibg

	&__img-ibg {
		padding-bottom: 97%;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.6;
			background-color: var(--black-color);
			z-index: 2;
			width: 100%;
			height: 100%;
		}
	}

	// .media-developer__icon

	&__icon {
		position: absolute;
		inset: 0;
		margin: auto;
		z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
		img {
			width: 72%;
			height: 100%;
		}
	}
}
