.popup {
  &[data-popup="payment"] {
  }
}

.payment {
  height: 100%;
  // .payment__container
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
    @media (max-width: 1450px) {
      padding: 0;
      padding-bottom: 50px;
    }
    @media (max-width: 1200px) {
      padding: 0;
    }
    @media (min-width: 2560px) {
      padding:0 108px 108px 104px;
    }
  }

  // .payment__head

  &__head {
    margin-bottom: 128px;
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
  // .payment__subtitle

  &__subtitle {
    margin-bottom: 4px;
  }

  // .payment__title

  &__title {
  }

  // .payment__info

  &__info {
  }

  // .payment__text

  &__text {
    display: inline-grid;
    justify-content: start;
    grid-auto-flow: column;
    column-gap: 64px;
    p {
      color: inherit;
      font-weight: inherit;
      max-width: 291px;
    }
    @media (max-width: 1200px) {
      padding-bottom: 60px;
    }
    @media (max-width: 992px) {
      column-gap: 32px;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 120px;
      p {
        max-width: 100%;
      }
    }
  }
}
.info-payment {
  flex: 1 1 auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  margin-bottom: 100px;
  @media (max-width: 992px) {
    gap: 0;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 64px;
  }

  // .info-payment__item
  &__item {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .info-payment__number

  &__number {
    color: var(--light-color);
    margin-bottom: 10px;
    font-weight: 600;

    // .info-payment__number_number

    &_number {
      font-size: 128px;
      @media (max-width: 1200px) {
        font-size: 92px;
      }
      @media (max-width: 992px) {
        font-size: 80px;
      }

      @media (min-width: 2560px) {
        font-size: 160px;
      }
    }

    // .info-payment__number_percent

    &_percent {
      font-size: 64px;
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (min-width: 2560px) {
        font-size: 80px;
      }
    }
  }

  // .info-payment__text

  &__text {
    color: var(--gold);
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;

    @media (min-width: 2560px) {
      font-size: 20px;
    }
  }

  // .info-payment__stick

  &__stick {
    width: 1px;
    height: 64px;
    background-color: var(--gold);
    @media (max-width: 768px) {
      width: 64px;
      height: 1px;
    }
  }
}
