.popup {
  &[data-popup="payment"] {
  }
  .popup__content {
    @media (max-height: 750px) {
      padding-top: 40px;
    }
  }
}

.payment {
  height: 100%;
  // .payment__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: 1200px) {
      padding: 0;
    }
  }

  // .payment__head

  &__head {
    // margin-bottom: 140px;
    // @media (max-height: 750px) {
    //   margin-bottom: 72px;
    // }
    // @media (max-height: 690px) {
    //   margin-bottom: 48px;
    // }
    // @media (max-width: 768px) {
    //   margin-bottom: 32px;
    // }
  }
  // .payment__subtitle

  &__subtitle {
    margin-bottom: 4px;
  }

  // .payment__title

  &__title {
  }

  // .payment__info

  &__info {
  }

  // .payment__text

  &__text {
    display: inline-grid;
    justify-content: start;
    grid-auto-flow: column;
    column-gap: 64px;
    p {
      color: inherit;
      font-weight: inherit;
      max-width: 291px;
    }
    @media (max-width: 1200px) {
      // padding-bottom: 50px;
    }
    @media (max-width: 992px) {
      // padding-bottom: 30px;
      column-gap: 32px;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 120px;
      p {
        max-width: 100%;
      }
    }
  }
}
.info-payment {
  flex: 1 1 auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  // margin-bottom: 96px;
  // @media (max-height: 750px) {
  //   margin-bottom: 50px;
  // }
  // @media (max-height: 690px) {
  //   margin-bottom: 43px;
  // }
  @media (max-width: 992px) {
    gap: 0;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 64px;
  }

  // .info-payment__item
  &__item {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .info-payment__number

  &__number {
    color: var(--light-color);
    margin-bottom: 10px;
    font-weight: 600;

    // .info-payment__number_number

    &_number {
      font-size: 128px;
      @media (max-width: 1440px) {
        font-size: 92px;
      }
      @media (max-width: 992px) {
        font-size: 80px;
      }

      @media (min-width: 2560px) {
        font-size: 160px;
      }
    }

    // .info-payment__number_percent

    &_percent {
      font-size: 64px;
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (min-width: 2560px) {
        font-size: 80px;
      }
    }
  }

  // .info-payment__text

  &__text {
    color: var(--gold);
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;

    @media (min-width: 2560px) {
      font-size: 20px;
    }
  }

  // .info-payment__stick

  &__stick {
    width: 1px;
    height: 64px;
    background-color: var(--gold);
    @media (max-width: 768px) {
      width: 64px;
      height: 1px;
    }
  }
}

//========================================================================================================================================================
// [data-popup="payment-tabs"] {
//     	opacity: 1 !important;
//     	pointer-events: auto !important;
//   }
.payment {
  //payment__nav
  &__nav {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 32px;
    @media (max-width: 992px) {
      margin-bottom: 24px;
      margin-top: 32px;
    }

    &.payment__nav-none {
      display: none;
    }
  }

  //payment__nav-link
  &__nav-link {
    position: relative;
    padding: 1px;
    

    span {
      color: #fff;
      background-color: #161616;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 8px 15px;
      @media (max-width: 992px) {
        padding: 8px 15px;
      }
      @media (max-width: 576px) {
        font-size: 13px;
      }
    }

    &.active {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        154deg,
        #d79970 0%,
        #905d44 50%,
        #d79970 100%
      );
      z-index: -1;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
    }
  }

  //payment__tab-contant
  &__tab-contant {
    position: relative;
    // margin-top: 32px;
    // @media (max-width: 992px) {
    //   margin-top: 24px;
    // }
  }

  //payment__tab-pane
  &__tab-pane {
    justify-content: center;
    align-items: center;
    opacity: 0;
    // pointer-events: none;
    visibility: hidden;
    display: none;
    transition: opacity 1s;

    @media (max-width: 992px) {
      width: 100%;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      // pointer-events: all;
      display: flex;
      transition-duration: 10s;

    }
  }
}
