.copiryit-text {
	position: absolute;
	z-index: 100;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 500px;
	width: 100%;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	pointer-events: none;
	transition: top 0.3s ease;
	@media (max-width: 767.98px) {
		top: -71px;
	}
	@media (max-width: 479.98px) {
		font-size: 10px;
		top: -90px;
	}
	.fullscreen-enabled & {
		top: -20px;
	}
	.fancybox__container & {
		top: auto;
		bottom: 5px;
		//  поднимает на мобилке
		@media (max-width: 578.98px){
			bottom: 70px;
		}
	}
	.fake-fullscreen-active & {
		top: 5px;
	}
}

.fancybox__slide.has-image.is-selected {
	overflow: hidden !important;
}