:root {
    --vh: 100lvh;

    // Font Family
    --font: "Raleway", sans-serif;

    // Colors
    --light-color: #fff;
    --dark-color: #000;
    --main-color: #B26A4B;
	--black-color: #161616;
    --gold:#D79970;
    --grey:#8c8c8c;
}
