<div class="popup__about about" data-scroll-height>
	<div class="about__about about-about">
		@require('./about/about-info.html') @require('./about/about-stats.html')
	</div>
	<div class="about__amenities amenities-about">
		@require('./about/amenities-info.html')
		@require('./about/amenities-items.html')
	</div>
	<div class="about__location location-about">
		@require('./about/location.html')
	</div>
	<div class="about__cta cta-about">
		@require('./about/cta.html',{"btnText": "Get a call back"})
	</div>
</div>
