<div class="popup__ax ax" data-scroll-height>
	<div class="ax__container popup-container">
		<div class="ax__info info-ax">
			<div class="info-ax__subtitle popup-subtitle">AX CAPITAL</div>
			<div class="info-ax__title popup-title">
				innovative real estate agency in dubai
			</div>
			<div class="info-ax__text popup-text">
				<p>
					Over 3 000 offers on the primary and secondary markets, 12 years of
					experience, and boundless love for the city. We have a great sense of
					the market which allows us to reach the best position in real estate
					purchases.
				</p>
				<p>
					Partnerships with customers are the basis of our business. We know how
					to listen and hear, dedicate ourselves to solving your problems, take
					into consideration all the details and only recommend the right
					properties.
				</p>
			</div>
		</div>
		<div class="ax__media media-ax">
			<div class="media-ax__img-ibg">
				<img src="@img/projects/ax/bg.jpg" alt="ax/bg" />
			</div>
			@require('./ax/stats.html')
		</div>
	</div>
</div>
