<div class="popup__developer developer" data-scroll-height>
	<div class="developer__container popup-container">
		<div class="developer__info info-developer">
			<div class="info-developer__head">
				<div class="info-developer__subtitle popup-subtitle">Developer</div>
				<div class="info-developer__title popup-title">RELIABLE DEVELOPER</div>
				<div class="info-developer__text popup-text" data-project="developerDescriptions">
					<p>
						With a passion for quality and a dedication to excellence, Keymavens
						sets itself apart in the competitive real estate market. The
						company's projects embody the intersection of luxury and value,
						offering homebuyers an unparalleled living experience characterized
						by superior craftsmanship.
					</p>
					<p>
						Driven by a passion for excellence, Keymavens seeks to enhance the
						quality of life for its residents by delivering meticulously
						designed homes that surpass expectations. With a reputation for
						integrity, Keymavens continues to play a significant role in shaping
						Dubai's skyline.
					</p>
				</div>
			</div>
      @require('./developer/stats.html')
		</div>
		<div class="developer__media media-developer" data-project="developerMedia">
			<div class="media-developer__img-ibg"><img data-project="developerImg" src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/business-bay-tower/developer/bg.jpg" alt="bg"></div>
			<div class="media-developer__icon"><img data-project="developerLogo" src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/business-bay-tower/developer/icon.svg" alt=""></div>
		</div>
	</div>
</div>
