<div class="popup__payment payment">
	<div class="payment__container popup-container">
		<div class="payment__head">
			<div class="payment__subtitle popup-subtitle">payment plan</div>
			<div class="payment__title popup-title">Best for investment</div>
		</div>
		@require('./payment/stats.html')
		<div class="payment__text popup-text" data-project="paymentDescriptions">
			<p>
				Our installment schemas are devoid of any latent charges or
				unanticipated costs.
			</p>
			<p>
				A 4% DLD (Dubai Land Department) fee applies to all real estate
				transactions in Dubai and must be paid in addition to the property's
				purchase price.
			</p>
		</div>
	</div>
</div>
