//Font
@import '../../files/fonts/font.css';

// Base
@import '@scss/base/var';
@import '@scss/base/reset';
@import '@scss/base/mixin';
@import '@scss/base/libs';
// @import '@scss/base/common';

// Libs
@import '@scss/modal360/libs/photoSphere';
// @import '@scss/modal360/libs/swiper';

// Components
@import './components/viewer';
@import './components/gallery';
@import './components/popups';
@import './components/copyRight';
@import './components/swiper';

.test2 {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000000;
	background-color: red;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
