<button data-close="${target}" type="button" class="close ${classNames}">
  <p class="close__text">${text}</p>
  <div class="close__icon">
    <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/icons/popupBtns/close.svg" alt="close" />
  </div>
  <div class="close__icon project-btn">
    <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/icons/popupBtns/back.svg" alt="close" />
  </div>
  <div class="close__icon pano-btn">
    <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/icons/popupBtns/pano-close.svg" alt="close" />
  </div>
</button>