<header class="header">
    <div class="header__inner">
        <div class="header__logo" href="">
            <img src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/icons/ax.svg" alt="AX DIGITAL">
        </div>

        <div class="header__menu-btn">
            <button class="menu-btn" type="button">
                <div class="menu-btn__line"></div>
                <div class="menu-btn__line"></div>
                <div class="menu-btn__line"></div>
            </button>
        </div>

        <div class="header__socials">
            <div class="header__socials-wrapper">
                <a href="#" class="header__socials-item social-phone">
                    <picture>
                        <img src="@img/icons/gold-phone.svg" alt="">
                    </picture>
                    <div>
                        <span>call us</span>
                    </div>
                </a>

                <a href="#" class="header__socials-item social-tg">
                    <picture>
                        <img src="@img/icons/gold-tg.svg" alt="">
                    </picture>
                    <div>
                        <span>telegram</span>
                    </div>
                </a>


                <a href="#" class="header__socials-item social-wp">
                    <picture>
                        <img src="@img/icons/gold-wp.svg" alt="">
                    </picture>
                    <div>
                        <span>whatsapp</span>
                    </div>
                </a>
            </div>

            <button class="header__socials--toggle" type="button"></button>
        </div>

    </div>
</header>

<div class="menu">
    <div class="menu__bg"></div>
    <div class="menu__inner">
        <div class="menu__title">
            <span>All projects</span>
        </div>
        <nav class="menu__nav">
            <ul class="menu__list">
                <%var data=require('@files/json/markers/project.json')%>
                    <%var component=require("../projects-loop/project.html")%>
                        <% for (var i=0; i < data.length; i++) { %>
                            <% var el=data[i] %>
                                ${component(el)}
                                <% } %>
            </ul>
        </nav>
    </div>
</div>