<header class="header">
    <div class="header__inner">
        <a class="header__logo" href="">
            <img src="@img/icons/ax.svg" alt="AX DIGITAL">
        </a>

        <div class="header__menu-btn">
            <button class="menu-btn" type="button">
                <div class="menu-btn__line"></div>
                <div class="menu-btn__line"></div>
                <div class="menu-btn__line"></div>
            </button>
        </div>

        <div class="header__socials">
            <a href="" class="header__socials-item social-wp">
                <img src="@img/icons/wp.svg" alt="">
            </a>
        </div>

    </div>
</header>

<div class="menu">
    <div class="menu__bg"></div>
    <div class="menu__inner">
        <div class="menu__title">
            All projects
        </div>

        <ul class="menu__wrapper">
            <!-- <li v-for="(project, index) in projects" :key="index">
                <a href="" class="menu__link">
                    <div class="menu__link-img">
                        <img :src="project.img" alt="">
                    </div>
                    <span class="menu__link-name">
                        {{ project.name }}
                    </span>
                </a>
            </li> -->
        </ul>
    </div>
</div>