<head>
    <meta lang="en">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0,shrink-to-fit=no" />
    <title>${title}</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="180x180"
        href="https://d3b6muno9lbfvx.cloudfront.net/beachfront-vr/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://d3b6muno9lbfvx.cloudfront.net/beachfront-vr/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://d3b6muno9lbfvx.cloudfront.net/beachfront-vr/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="https://d3b6muno9lbfvx.cloudfront.net/beachfront-vr/img/favicon/safari-pinned-tab.svg"
        color="#fff">
    <link rel="shortcut icon" href="https://d3b6muno9lbfvx.cloudfront.net/beachfront-vr/img/favicon/favicon.ico">

    <meta name="apple-mobile-web-app-title" content="AX DIGITAL" />
    <meta name="application-name" content="AX DIGITAL" />
    <meta name="msapplication-TileColor" content="#1e1e1e" />
    <!-- <meta name="msapplication-config" content="" /> -->
    <meta name="theme-color" content="#000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
</head>