<div class="popup">
    <div class="popup__body">
        <div class="popup__inner">
            <div class="popup__close">
                close
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13M1 1L13 13" stroke="#D79970" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="popup__top popup__container">
                <div class="popup__content">
                    <div class="popup__content-wrap">
                        <div class="popup__view">
                        </div>
                        <div class="popup__filter filter">
                            <div class="filter__wrap">
                                <div class="filter__option ">
                                    <div class="filter__select">
                                        <span data-select="place">Apartment</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6"
                                            fill="none">
                                            <path
                                                d="M1 5L4.70455 1.32547C5.14205 0.891511 5.85795 0.891511 6.29545 1.32547L10 5"
                                                stroke="#D79970" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="filter__dropdown">
                                        <div class="filter__place place">
                                            <ul class="place__list" data-option-list="place">
                                               
                                                <li class="place__list-item">
                                                    <input type="radio" name="place" id="place-2" hidden>
                                                    <label for="place-2">Wind</label>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="filter__option">
                                    <div class="filter__select">
                                        <span data-select="bedrooms">1 bedroom</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6"
                                            fill="none">
                                            <path
                                                d="M1 5L4.70455 1.32547C5.14205 0.891511 5.85795 0.891511 6.29545 1.32547L10 5"
                                                stroke="#D79970" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="filter__dropdown">
                                        <ul class="filter__project project" data-option-list="project">
                                            <li class="project__item">
                                                <span class="project__item-name">Address Residences</span>
                                                <ul class="project__list" data-option-list="bedroom">
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="adress-1" hidden>
                                                        <label for="adress-1">1 bedroom</label>
                                                    </li>
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="adress-2" hidden>
                                                        <label for="adress-2">2 bedroom</label>
                                                    </li>
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="adress-3" hidden>
                                                        <label for="adress-3">3 bedroom</label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="project__item">
                                                <span class="project__item-name">Grand Bleu Tower</span>
                                                <ul class="project__list">
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="grand-1" hidden>
                                                        <label for="grand-1">1 bedroom</label>
                                                    </li>
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="grand-2" hidden>
                                                        <label for="grand-2">2 bedroom</label>
                                                    </li>
                                                    <li class="project__list-item">
                                                        <input type="radio" name="bedroom" id="grand-3" hidden>
                                                        <label for="grand-3">3 bedroom</label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="filter__option">
                                    <div class="filter__select">
                                        <span data-select="type">Type A</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6"
                                            fill="none">
                                            <path
                                                d="M1 5L4.70455 1.32547C5.14205 0.891511 5.85795 0.891511 6.29545 1.32547L10 5"
                                                stroke="#D79970" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="filter__dropdown">
                                        <div class="filter__type type">
                                            <ul class="type__list" data-option-list="type">
                                                <li class="type__list-item">
                                                    <input type="radio" name="type" id="type-1" hidden>
                                                    <label for="type-1">Type A</label>
                                                </li>
                                                <li class="type__list-item">
                                                    <input type="radio" name="type" id="type-2" hidden>
                                                    <label for="type-2">Type B</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popup__content-info">
                            <h2 class="popup__content-title" data-info="badroom">3 Bedroom</h2>
                            <span class="popup__content-type" data-info="type">Type A</span>
                            <ul class="popup__content-list">
                                <li class="popup__content-item">
                                    <p data-popcontent-p>Bathrooms</p>
                                    <span data-info="bathrooms">2</span>
                                </li>
                                <li class="popup__content-item">
                                    <p>Total area</p>
                                    <span data-info="totalArea">1942 sq.ft.</span>
                                </li>
                            </ul>
                            <div class="popup__content-price">
                                <span>price From</span>
                                <h2 data-info="price">AED 10 500 000</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__bottom popup__container">
                <h2 class="popup__form-title">Book A Personal Consultation With Our Specialist</h2>
                <form class="popup__form" action="" data-gtag-submit>
                    <div class="popup__form-inputs">
                        <div class="popup__form-input">
                            <input type="text" id="name" placeholder="Your name" required name="name" />
                        </div>

                        <div class="popup__form-input">
                            <input type="email" id="email" placeholder="Your E-Mail" required name="email" />
                        </div>

                        <div class="popup__form-input">
                            <input type="tel" id="phone" placeholder="Phone number" required name="phone" />
                        </div>
                    </div>
                    <button class="popup__form-btn btn-gradient" type="submit">
                        <span class="project__brochure-btn_txt">
                            Get a call back
                        </span>
                        <span class="project__brochure-btn_bg"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>