<div class="about-about__info">
	<div class="about-about__container popup-container">
		<div class="about-about__subtitle popup-subtitle">About project</div>
		<h4 class="about-about__title popup-title" data-about="about-title">
			Downtown terraces
		</h4>
		<div class="about-about__text popup-text" data-about="about-text">
			Set to redefine the city skyline, the Downtown Terraces is a pinnacle of
			modern architectural innovation and urban development. Set to redefine the
			city skyline, the Downtown Terraces is a pinnacle of modern architectural
			innovation and urban development. Set to redefine the city skyline, the
			Downtown Terraces is a pinnacle of modern architectural innovation and
			urban development.
		</div>
	</div>
</div>
