<div class="amenities-about__info">
	<div class="amenities-about__container popup-container">
		<h4
			class="amenities-about__title popup-title"
		>
			Amenities
		</h4>
		<div
			class="amenities-about__text popup-text"
			data-project="amenitiesDescription"
		>
			Set to redefine the city skyline, the Downtown Terraces is a pinnacle of
			modern architectural innovation and urban development. Set to redefine the
			city skyline, the Downtown Terraces is a pinnacle of modern architectural
			innovation and urban development. Set to redefine the city skyline, the
			Downtown Terraces is a pinnacle of modern architectural innovation and
			urban development.
		</div>
	</div>
</div>
