<div class="cta-about__wrapper">
	<div class="cta-about__container popup-container">
		<div class="cta-about__title popup-title">
			Book a Personal Consultation With Our Specialist
		</div>
		<form action="" data-submit="" class="cta-about__form">
			<div class="cta-about__inputs">
				<div class="cta-about__input">
					<input
						type="text"
						id="name"
						placeholder="Your name"
						required
						name="name"
					/>
				</div>

				<div class="cta-about__input">
					<input
						type="email"
						id="email"
						placeholder="Your E-Mail"
						required
						name="email"
					/>
				</div>

				<div class="cta-about__input">
					<input
						type="tel"
						id="phone"
						placeholder="Phone number"
						required
						name="phone"
					/>
				</div>
			</div>
			<button class="cta-about__btn" type="submit">${btnText}</button>
		</form>
	</div>
</div>
