<div class="location-about__wrapper">
	<div class="location-about__container popup-container">
		<div class="location-about__title popup-title">Location</div>
	</div>
	<div class="location-about__map-scroll">
		<div class="location-about__map-container">
			<div class="location-about__map-ibg">
				<img
					src="https://d3b6muno9lbfvx.cloudfront.net/project-map/img/projects/4k-map.jpg"
					alt="map"
				/>
			</div>
			<svg
				width="1440"
				height="810"
				viewBox="0 0 1440 810"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="location-about__map-dots"
				data-project="projectLocationDot"
			>
			@require('./location-dot.html')
		</svg>
		</div>
	</div>
</div>
