.popupBtn {
	&.hide {
		display: none;
	}
	
	// .popupBtn__wrapper

	&__wrapper {
		display: flex;
		background-color: var(--black-color);
		.active &{
			background-color: white;
		}
		display: flex;
		align-items: center;
		column-gap: 8px;
		padding: 4px 16px 4px 4px;
		border-radius: 4px;
	}

	// .popupBtn__icon

	&__icon {
		width: 32px;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 100px;
			height: 100%;
		}
	}

	// .popupBtn__text

	&__text {
		color: var(--light-color);
		font-size: 15px;
		font-weight: 300;
		text-transform: capitalize;
		.active &{
			color: var(--black-color);
		}
		.ax & {
			text-transform: low;
		}
	}
}
