/* inter-400 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('Inter-Regular.woff2') format('woff2');
}

/* inter-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('Inter-Medium.woff') format('woff2');
}

/* inter-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('Inter-SemiBold.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('Inter-Bold.woff2') format('woff2');
}