<%var data=arguments[0]%>
    <% if (data.isPopup === true) { %>
        <li class="menu__link-item" data-marker-popup-btn="${data.dataName}">
            <div class="menu__link-item--inner">
                <div class="menu__link-img">
                    <img data-preload=${data.img} alt="">
                </div>
                <span class="menu__link-name">
                    ${data.name}
                </span>
            </div>
        </li>
    <% } else {%>
        <li class="menu__link-item" data-modal-open="files/pano/${data.dataName}">
            <div class="menu__link-item--inner">
                <div class="menu__link-img">
                    <img data-preload=${data.img} alt="">
                </div>
                <span class="menu__link-name">
                    ${data.name}
                </span>
            </div>
        </li>
    <% } %>