<div class="project__popupBtns">
	<div class="project__popupBtns-wrapper">
		<div class="project__popupBtns-inner">

			<%var data = require('../../json/popupBtns.json')%> 
			<%var component = require("./popupBtn.html")%> 
			<% for (var i=0; i < data.length ; i+=2) { %> 
			<%var parentDiv = '<div class="project__popupBtns-group">';%> 
			<%var closeDiv = '</div>';%> 

			<% for (var j=i; j <= i+1 && j < data.length; j++) { %> 
			<% var el = data[j] %> 
			<% parentDiv+= component(el) %> 
			<% } %>
			<% parentDiv+= closeDiv %> 
			${parentDiv}
			<% parentDiv = '<div class="project__popupBtns-group">';%> 
			<% } %>
		</div>

		<div class="project__popupBtns-open">
			<div class="project__popupBtns-block">
				Project Info
			<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
				<path d="M10 5L6 1L2 5" stroke="#D79970" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
			</svg>
			</span>
			</div>
		</div>
	</div>
</div>
